body{
    background-color: #ecf0f1;
}
header{
    background-color: aliceblue;
    padding:0;
    display:flex;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:35%;
    font-size: 20px;
    list-style: none;
    margin-right: 0;
}
.head-img{
    height:120px;
    width:400px;
}
form{
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:320px;
    margin:0 auto;
    text-align: center;
}
input{
    padding:7px;
    background-color: rgb(241, 238, 234);
    width:380px;
    margin:140px 10px 100px 0;
}
button{
    padding:7px;
    width:110px;
    background-color: none;
}
.container{
    width:80%;
    margin: 0 auto;
}
.definition{
   margin: 5% 1.6% 5% 1.6%;
   width:30%;
   height:300px;
   text-align: center;
   float:left;
}
.displayHead{
   background-color: gainsboro;
   height:70px;
   width:100%;
   padding-top:14px
}
.pronounce{
   padding:6% 0% 3% 0%;
   height:180px;
   width:100%;
   background-color: white;
}
.imagedisplay{
   padding:1% 0% 3% 0%;
   height:189px;
   width:100%;
}
.define{
   padding:6% 0% 3% 0%;
   background-color: white;
   height:180px;
   width:100%;
}

.playbutton{
  margin-top:10%;
}